<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <config>
	<add key="dependencyVersion" value="HighestMinor" />
  </config>
  <packageSources>
	<clear />
	<add key="github" value="https://nuget.pkg.github.com/erikbartlow/index.json" />
  </packageSources>
  <packageSourceCredentials>
	<github>
	  <add key="Username" value="erikbartlow" />
	  <add key="ClearTextPassword" value="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" />
	</github>
  </packageSourceCredentials>
</configuration>