<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="dependencyVersion" value="HighestMinor" />
	</config>
	<packageSources>
		<clear />
		<add key="CodedThought.Core.Utility.Email" value="https://hpi-wehp-cits.pkgs.visualstudio.com/CodedThought.Core/_packaging/CodedThought.Core.Utility.Email/nuget/v3/index.json" />
	</packageSources>
</configuration>